body {
  background-color: #121212;
  font-family: 'Orbitron',
    sans-serif;
}

#pong,
#gameTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pong {
  border: 3px solid #f0e9df;
}

#gameTitle {
  color: #f0e9df;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 9999;
}

#soundControl {
  display: inline-block;
  font-size: 56px;
  padding: 17px 30px;
  cursor: pointer;
}
